* {
    margin: none;
}
    h1 h2 h3 h4 h5 h6  {
        margin: 0;

    }
    p {
        margin: 0;
    }


body {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 16px;
}
.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
    background-image: url("../image/Bg_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.div_logo {
    align-self: flex-start;
    padding-right: 250px;



}
.header_logo {
    opacity: 0.9;
    font-size:36px;
    color: white;
}
.div_nav {
justify-self: center;


}
.header_nav {
    opacity: 0.9;
    display: inline-block;
    text-transform: none;
    text-decoration: none;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    font-size: 21px;
    color: floralwhite;
    border-top: 3px solid transparent;
}
.header_nav:hover {
    border-top: 3px solid white;
    transition-duration: .2s;
}
.content_home {
    background-image: url("../image/diver1.png");
    background: no-repeat;
    padding-top: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: 90px;
}
.button_home {
    display: inline-block;
    text-transform: none;
    font-family: Lato;
    text-decoration: none;
    border: 1px solid white;
    padding: 50px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 18px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);

}
.button_home:hover {
    transition-duration: .4s;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.3);
}
.about {
    background-image: url("../image/pattern.png");
    width: 100%;
    height: 80vh;
    display: grid;

    grid-template-columns:1fr 1fr ;
    align-self: center;
}
.content_about {
    padding-right: 40px;

    align-self: center;
    justify-self: right;
    text-align: center;
}
.header_about {

    font-size: 36px;
    color:#cc9900;
}
.text_about {

    line-height: 24px;
    font-size:16px;
    font-family: Lato;
}
.about_img{
    padding-left: 40px;

    align-self: center;
    justify-self: left;
}
.ingredient {
    background-image: url("../image/Bg_Ing.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;


}
.content_ingredient {
    grid-template-areas:
            ".c c c c c."
            ".c c a c c."
            ".c c c c c.";
    grid-template-columns:1fr 1fr ;

    align-self: center;
    justify-self: right;

    width: 570px;
    height: 557px;
    grid-area: a ;
    background-color: rgba(0,0,0,0.7);
    padding: 80px;
    text-align: center;
    margin-right: 215px;
    margin-bottom: 100px;

}
.header_ing {

    font-size: 36px;
    color: white;
}
.text_ing {

    line-height: 25px;
    font-family: Lato;
    font-size: 16px;
    color: white;
}
.img_ing {

    padding-top: 74px;
}
.menu {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-image: url("../image/pattern2.png");
    background-size: cover;
    background-position: center;


}
.content_menu {
    display: flex;
    flex-flow: column wrap;

    align-self: center;
    justify-self: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.cont_menu {
 margin-left: 90px;
    color: #cc9900;
    justify-self: center;
    align-self: flex-start;


    width: fit-content;





}
.text_menu {
    align-self: flex-start;
    justify-self: center;
    border-top: 1px solid #ddcf9c;
    margin-left: 90px;
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;

    width: fit-content;
}
.appe {

    padding-left: 90px;
    color: #cc9900;
    font-size: 36px;
}
.reviews {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100vh;
    background-image: url("../image/Bg_Reviews.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content_reviews {

    background-color: rgba(0,0,0,0.8);
    width: 800px;
    height: 600px;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.header_reviews {
    padding-top: 83px;
    font-size: 36px;
    color: white;
    font-family: 'Yeseva One', cursive;
 }
.text_reviews {
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    line-height: 45px;
    color: white;
}
.citata_end {
    font-size: 18px;
    color: white;
}
.citata {
    font-size: 90px;
    color: gray;
    font-family: Georgia;
}
.reservation {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr;
    background-image: url("../image/pattern.png");
    width: 100%;
    height: 90vh;
}
.img_reserv {

    align-self: center;
    justify-self: right;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content_res {
    align-self: center;
    text-align: center;
    justify-self: left;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.header_reserv {
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
}
.text_reserv {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
}
.image {
    padding-right: 30px;
}
.form {
    position: relative;
    display: flex;
    align-content: baseline;
    justify-content: center;
    text-align: justify;
    flex-flow: column wrap;

}
.form_megagroup {
    display: flex;
    align-content: space-between;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;


}
.form__gr {
text-align: left;
    margin-left: 20px;
}
.form__grou {
    text-align: right;
    margin-right: 20px;

}
.form__group {


    justify-self: center;



}
.form__input {
    border-style: none;
    border: 2px solid #c8c6c6;
}
.form__input:focus {
    outline: none;
    border: 2px solid #c89f2d;
}
.form__label {
    padding-top: 30px;
 color: #cc9900;
}
.div__btn {
    padding-top: 80px;
    text-align: center;

}
.form__btn {
    font-family: "Open Sans";
    font-size: 16px;
    border: none;
    width: 200px;
    height: 36px;
    background-color: #c9a131;
    color: white;
    outline: none;

}
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: url("../image/Bg_Footer.jpg");
    background-size: cover;

    background-position: center;

}
.column1 {

    text-align: center;


    color: white;

}
.column2 {



    color: white;
    text-align: center;

}
.column3 {



    color: white;
    text-align: center;
}
.fot_abcont {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.fot_loc {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.fot_hour {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

